#feed {
    width: 376px;
    height: 445px;
    overflow-y: scroll;
    /*overflow: hidden;*/
    /*word-break: break-all;*/
    /*  text-align: justify;
    text-align-last: left;*/
}

.feeds {
    width: 376px;
    margin: 7px;
}

.hide {
    /*display:  none;*/
}

#cl1 {
    cursor: pointer;
}

#cl2 {
    cursor: pointer;
    float: right;
}

.head_display {
    width: 376px;
    height: 43px;
    color: black;
    background-color: DarkSalmon;
}

.head_span {
    font-weight: bold;
    margin: 5px;
    /*padding: 5px;*/
}

.news_feed_div {
    height: 54px width: 376px;
    overflow: hidden;
    margin: 4px;
    /*border:solid;*/
}

.news_feed_anchor_tag {
    color: blue;
}

.news_feed_description_div {
    max-height: 54px;
    overflow: hidden;
    max-width: 260px;
}

.news_feed_title_div {
    max-height: 45px;
    max-width: 260px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    overflow: hidden;
}

.news_feed_time_div {
    padding: 3px;
    opacity: 0.6;
}

.news_feed {
    display: inline-block;
}

.news_feed_image_div {
    width: 90px;
    height: 90px;
    padding-right: 3px;
}
